@model NotEqualTo.ModelWithPassOnNull

<form method="post" class="d-flex flex-column gap-2" novalidate
    asp-action="@nameof(HomeController.Save)"
    asp-controller="Home"
    asp-route-modelTypeName="@(typeof(NotEqualTo.ModelWithPassOnNull).FullName)">
    <h3>
        Allow to not assign one of the fields
    </h3>

    <div data-testid="valid-alert" class="alert alert-success alert-dismissible valid-alert" style='display: none;'>
        <button type="button" class="btn-close" onclick="$(this).parent().fadeOut();"></button>
        <span class="alert-message">
        </span>
    </div>

    <div class="form-floating flex-fill">
        <input class="form-control" asp-for="Value1" placeholder="" />
        <label asp-for="Value1">
            First value
        </label>
        <span class="text-danger" asp-validation-for="Value1" data-testid="val1-valid-msg"></span>
    </div>
    <div class="form-floating flex-fill">
        <input class="form-control" asp-for="Value2" placeholder="" />
        <label asp-for="Value2">
            Second value
        </label>
        <span class="text-danger" asp-validation-for="Value2" data-testid="val2-valid-msg"></span>
    </div>
    <div class="d-flex flex-row gap-4 align-items-center justify-content-center">
        <button data-testid="btn-reset" type="button" class="btn btn-outline-secondary btn-lg btn-reset">
            Reset
        </button>
        <button data-testid="btn-client" type="button" class="btn btn-outline-info btn-lg btn-validate">
            Validate on Client
        </button>
        <button data-testid="btn-server" type="button" class="btn btn-outline-primary btn-lg btn-validate" data-ignore-client="true"
                data-server-validate="true">
            Validate on Server
        </button>
    </div>
</form>