@{
    ViewData["Title"] = "FoolProof.Core Tests - NotEqualTo";
    ViewData["ValidatorName"] = "NotEqualTo Validator Attribute";
    var validModel = new NotEqualTo.Model();
}

<div class="d-flex flex-column gap-5">
    <div>
        <partial name="/Views/NotEqualTo/_NotNull.cshtml" model="@validModel" />
    </div>
</div>
