@{
    ViewData["Title"] = "FoolProof.Core Tests - EqualTo";
    ViewData["ValidatorName"] = "EqualTo Validator Attribute";
    var validModel = new EqualTo.Model();
}

<div class="d-flex flex-column gap-5">
    <div>
        <partial name="/Views/EqualTo/_NotNull.cshtml" model="@validModel" />
    </div>
</div>
