<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <RunConfiguration>
        <MaxCpuCount>0</MaxCpuCount>
    </RunConfiguration>
    <TestRunParameters>
		<Parameter name="StartWebApp" value="true" />
		<Parameter name="WebAppPort" value="9090" />
		<Parameter name="WebAppUrl" value="http://localhost:9090" />
        <Parameter name="UseJQuery" value="true" />
	</TestRunParameters>
</RunSettings>