@{
    ViewData["Title"] = "FoolProof.Core Validation - EqualTo";
    ViewData["ValidatorName"] = "EqualTo Validator Attribute";
    var validModel = new EqualTo.Model();
}

<div class="d-flex flex-column gap-5">
    <div>
        <partial name="_TwoFieldsForm" model="@validModel" />
    </div>
</div>
