html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.alert .alert-message p:last-child {
    margin-bottom: 0;
}

select[multiple].form-control {
    height: 10rem;
}