html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-top: 100px;
    margin-bottom: 60px;
}

.alert .alert-message p:last-child {
    margin-bottom: 0;
}

select[multiple].form-control {
    height: 10rem;
}

span.oper {
    color: blue;
}

.usejquery-chk {
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 1000;
    background-color: white;
}

/* Define fade animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Apply fade animations to the elements */
.fade-in {
    animation: fadeIn 0.4s ease-in;
}

.fade-out {
    animation: fadeOut 0.4s ease-in;
}

.field-error-msg {
    margin-bottom: .3rem;
}