@{
    ViewData["Title"] = "FoolProof.Core Validation - EqualTo";
    ViewData["ValidatorName"] = $"EqualTo Validator Attribute";
}

<div class="d-flex flex-column gap-5">
    <div>
        <partial name="_CompareFieldsForm" />
    </div>
</div>
