@model PersonalInfo

@{
    ViewData["HeaderText"] = "FoolProof.Core E2E Hosting App";
}

<div>
    <div class="text-center mb-4">
        <h1 class="display-4">
            Welcome to the hosting WebApp for E2E testing of the FoolProof.Core validation library.
        </h1>
    </div>
</div>
