@{
    var dataType = ViewBag.DataType as string;
    var pwd = (bool?)ViewBag.PassWithNull ?? false;
    ViewData["Title"] = $"FoolProof.Core Validation - LessThanOrEqualTo ({dataType})";
    ViewData["ValidatorName"] = $"LessThanOrEqualTo Validator Attribute ({dataType}{(pwd ? " - Pass With Null" : "")})";
}

<div class="d-flex flex-column gap-5">
    <div>
        <partial name="_TwoFieldsForm" />
    </div>
</div>