@{
    ViewData["Title"] = "FoolProof.Core Validation - NotEqualTo";
    ViewData["ValidatorName"] = $"NotEqualTo Validator Attribute";
}

<div class="d-flex flex-column gap-5">
    <div>
        <partial name="_CompareForm" />
    </div>
</div>
