@{
    var dataType = ViewBag.DataType as string;
    ViewData["Title"] = $"FoolProof.Core Validation - NotIn ({dataType})";
    ViewData["ValidatorName"] = $"NotIn Validator Attribute ({dataType})";
}

<div class="d-flex flex-column gap-5">
    <div>
        <partial name="_CompareForm" />
    </div>
</div>