@model RequiredIf.PictureSettings

@{
    ViewData["Title"] = "FoolProof.Core Validation - RequiredIf";
    ViewData["ValidatorName"] = "RequiredIf Validator Attribute";
}

<form method="post" class="d-flex flex-column gap-4" 
      novalidate
      asp-action="@nameof(HomeController.Save)"
      asp-controller="Home"
      asp-route-modelTypeName="@(Model.GetType().FullName)">
    <div data-testid="valid-alert" class="alert alert-success alert-dismissible valid-alert fade-out d-none">
        <button type="button" class="btn-close" onclick="fadeOut(this.parentElement);"></button>
        <span class="alert-message">
        </span>
    </div>

    <fieldset>
        <legend>Preferences</legend>
        <div>
            <div class="form-floating flex-fill mb-3">
                <input class="form-control" asp-for="Prefs.FavoriteColor" placeholder="" />
                <label>Favorite Color</label>
            </div>
            <div class="form-floating flex-fill mb-3">
                <input class="form-control" asp-for="Prefs.FavoriteBlueShade" placeholder="" />
                <label>Favorite Blue Shade (Required if <i>FavoriteColor</i> is <strong><i>blue</i></strong>)</label>
                <span class="text-danger" asp-validation-for="Prefs.FavoriteBlueShade"></span>
            </div>
            <div class="form-floating flex-fill mb-3">
                <div class="form-check">
                    <input asp-for="Prefs.AutoScale" type="checkbox" class="form-check-input" placeholder="" />
                    <label asp-for="Prefs.AutoScale" class="form-check-label">Auto Scale</label>
                </div>
            </div>
            <div class="form-floating flex-fill mb-3">
                <input class="form-control" asp-for="Prefs.AspectRatio" placeholder="" />
                <label>Aspect Ratio</label>
            </div>
            <div class="form-floating flex-fill mb-3">
                <input class="form-control" asp-for="Prefs.MaxFileSize" placeholder="" />
                <label>Max File Size</label>
            </div>
            <div class="form-floating flex-fill mb-3">
                <input class="form-control" asp-for="Prefs.InitDate" placeholder="" />
                <label>Initial Date</label>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Picture Settings</legend>
        <div>
            <div class="form-floating flex-fill mb-3">
                <input class="form-control" asp-for="RedShade2Use" placeholder="" />
                <label>Red Shade To Use (Required if <i>FavoriteColor</i> is <strong><i>red</i></strong>)</label>
                <span class="text-danger" asp-validation-for="RedShade2Use"></span>
            </div>
            <div class="form-floating flex-fill mb-3">
                <input class="form-control" asp-for="BlueShade2Use" placeholder="" />
                <label>Blue Shade To Use (Required if <i>FavoriteColor</i> is <strong><i>blue</i></strong>)</label>
                <span class="text-danger" asp-validation-for="BlueShade2Use"></span>
            </div>
            <div class="form-floating flex-fill mb-3">
                <input class="form-control" asp-for="GreenShade2Use" placeholder="" />
                <label>Green Shade To Use (Required if <i>FavoriteColor</i> is <strong><i>green</i></strong>)</label>
                <span class="text-danger" asp-validation-for="GreenShade2Use"></span>
            </div>
            <div class="form-floating flex-fill mb-3">
                <input class="form-control" asp-for="ScaleAlgorithm" placeholder="" />
                <label>Scale Algorithm (Required if <i>AutoScale</i> is <strong><i>true</i></strong>)</label>
                <span class="text-danger" asp-validation-for="ScaleAlgorithm"></span>
            </div>
            <div class="form-floating flex-fill mb-3">
                <input class="form-control" asp-for="SquareSize" placeholder="" />
                <label>Square Size (Required if <i>AspectRatio</i> = <strong><i>1</i></strong>)</label>
                <span class="text-danger" asp-validation-for="SquareSize"></span>
            </div>
            <div class="form-floating flex-fill mb-3">
                <select asp-for="CompressWith" class="form-select w-50" placeholder="">
                    <option value="">None</option>
                    @foreach (var item in Enum.GetValues<RequiredIf.CompressionAlgorithm>())
                    {
                        <option value="@((int)item)">@Enum.GetName(typeof(RequiredIf.CompressionAlgorithm), item)</option>
                    }
                </select>
                <label>Compress With (Required if <i>MaxFileSize</i> &lt;= <strong><i>1024</i></strong>)</label>
                <span class="text-danger" asp-validation-for="CompressWith"></span>
            </div>
            <div class="form-floating flex-fill mb-3">
                <input class="form-control" asp-for="StartProcessingDate" placeholder="" />
                <label>Start Processing Date (Required if <i>InitDate</i> &gt; <strong><i>01/01/2025</i></strong>)</label>
                <span class="text-danger" asp-validation-for="StartProcessingDate"></span>
            </div>
        </div>
    </fieldset>
    <div class="d-flex flex-row gap-4 align-items-center justify-content-center">
        <button data-testid="btn-reset" type="button" class="btn btn-outline-secondary btn-lg btn-reset">
            Reset
        </button>
        <button data-testid="btn-client" type="button" class="btn btn-outline-info btn-lg btn-validate">
            Validate on Client
        </button>
        <button data-testid="btn-server" type="button" class="btn btn-outline-primary btn-lg btn-validate"
                data-server-validate="true">
            Submit for Validation
        </button>
    </div>
</form>